    #grid{
        display:grid;
        grid-template-columns: 150px 1fr;
    }
    ol{
        padding-left: 50px;
    }
    #article{
        padding-left: 40px;
    }
    a {
        color: blue;
        text-decoration: none;
    }
    h1 {
        font-size: 60px;
        text-align: center;
        border-bottom: 1px solid black;
        margin: 0;
        padding: 20px;
    }
    ol{
        border-right: 1px solid black;
        width: 100px;
        margin: 0;
        padding: 20px;
    }
    .saw {
        color: skyblue;
    } 
    .active {
        color: red;
    }
    @media(max-width:500px){
        #grid{
            display: block;
        }
        #grid ol{
            border-right: none;
        }
        h1{
            border-bottom: none;
        }
    }